@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

$red-color: #F15025;
$grey-color: #DFE2DF;
$background-color: #333333;
$font: "Lexend", sans-serif;

body {
    background-color: $background-color;
}

#modale {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modale-content {
    background-color: $grey-color;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid $red-color;
    width:70%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: space-between;
  #left {
    width: 50%;
    img {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #movie-title {
        font-size: 24px;
        font-weight: bold;
    }
  }

  #right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .label {
          font-weight: bold;
      }

      button {
          border-radius: 4px;
          background-color: $red-color;
      }
  }
}

div#content {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    margin: auto;
    
    #navbar {
        width: 100%;
        background-color: $red-color;
        color: white;
        padding: 10px;
        font-family: 'Lexend', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h1 {
            font-size: 40px;
        }

        a {
            text-decoration: none;
            margin-left: 10px;
            font-size: 20px;
            font-family: $font;
        }
    }

    #best-movie {
        display: grid;
        column-gap: 10px;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:"info img" "info img";
        width: 70%;
        height: 400px;
        margin: auto;

        #info {
            grid-area: info;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            h1 {
                text-align: center;
                padding: 30px;
                width: 80%;
                display: block;
                background-color: orange;
                font-size: 32px;
                font-family: $font;
                color: $grey-color;
                font-weight: bolder;
            }

            button {
                height: 20%;
                width: 50%;
                border-radius: 10px;
                background-color: $red-color;
                border-width: 0px;
                color: $grey-color;
                font-family: $font;
                font-weight: bold;
                font-size: 23px;
            }
        }

        #banner {
            grid-area: img;
            display: grid;
            justify-items: center;
            height: 100%;
            justify-self: center;
        }
    }

    .categorie {
        margin-top: 10px;
        width: 100%;

        h2 {
            padding: 10px;
            text-align: center;
            background-color: #F15025;
            color: whitesmoke;
            font-family: 'Lexend', sans-serif;
            font-size: 30px;
        }

        .container {
            display: flex;
            align-items: center;
            .left-arrow, .right-arrow {
                display: grid;
                background: #191919 ;
                align-items: flex-start;
                justify-items: center;
            }
            
            .movie-container {
                // background-color: #E6E8E6;
                display: flex;
                flex-grow: 2;
                justify-content: space-between;

                .movie.hide {
                    display: none;
                }

                .movie img {
                    height: 100%;
                }
            }
        }
    }
}

footer {
    width: 80%;
    background-color: $red-color;
    margin: auto;
    margin-top: 10px;

    p {
        font-family: $font;
        padding: 20px;
    }
}